.custom-margin {
    padding: 3%;
  }

button {
    margin: 0.5rem;
}

.de_inferno {
  background-image: url('../images/inferno.png');
  height: 50px;
  /* Optional: Configure the background image properties */
  background-repeat: no-repeat; /* Prevent the image from repeating */
  background-position: center; /* Align the image in the center of the element */
  background-size: cover; /* Scale the image to fill the element while maintaining its aspect ratio */
}

.de_dust2 {
    background-image: url('../images/dust2.png');
    height: 50px;
    /* Optional: Configure the background image properties */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Align the image in the center of the element */
    background-size: cover; /* Scale the image to fill the element while maintaining its aspect ratio */
}

.de_mirage {
    background-image: url('../images/mirage.png');
    height: 50px;
    /* Optional: Configure the background image properties */
    background-repeat: no-repeat; /* Prevent the image from repeating */
    background-position: center; /* Align the image in the center of the element */
    background-size: cover; /* Scale the image to fill the element while maintaining its aspect ratio */
}


/*
body > header {
    background-image: url("../images/terro.png");
    background-position: bottom;
    background-position-x: 70%;
    background-size: 10%;
    background-repeat: no-repeat;
    
}
.players {
    display: flex;
    margin: 0 auto;
    align-items: center;
}

.square1 {
    width: 50px;
    height: 50px;
    background-color: #eda338;
    margin-right: 10px;
}

.square2 {
    width: 50px;
    height: 50px;
    background-color: #109856;
    margin-right: 10px;
}

.square3 {
    width: 50px;
    height: 50px;
    background-color: #68a3e5;
    margin-right: 10px;
}

.square4 {
    width: 50px;
    height: 50px;
    background-color: #e6f13d;
    margin-right: 10px;
}

.square5 {
    width: 50px;
    height: 50px;
    background-color: #803ca1;
    margin-right: 10px;
}
*/